# Africa Economies Data Analysis
Understanding African economies buy visualising GDP, GDP per capita, population, and growth trends in order to shed light on which economies are best for businesses to take a bet on purely from the status of the economy. The data for this analysis has been sourced from [the World Bank](data.worldbank.org). Additional details on the data source and the light cleaning done prior can be found on the `README.md` file.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Data Exporation

### Importing Sourced Data

In [6]:
## Import population data
population = pd.read_csv("data/population.csv")
population = population.drop(['Unnamed: 65'], axis=1)
population.head()

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

In [10]:
## Import GDP data
gdp = pd.read_csv('data/gdp.csv')
gdp = gdp.drop(['Unnamed: 65'], axis=1)
gdp.head()

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727850e+09,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09
1,Africa Eastern and Southern,AFE,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,2.873279e+10,3.159296e+10,...,9.863430e+11,1.006990e+12,9.325130e+11,8.900510e+11,1.028390e+12,1.012520e+12,1.006190e+12,9.288800e+11,1.086530e+12,1.185140e+12
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
3,Africa Western and Central,AFW,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,1.584558e+10,1.442849e+10,...,8.340970e+11,8.945050e+11,7.692630e+11,6.921150e+11,6.856300e+11,7.681580e+11,8.234060e+11,7.869620e+11,8.449280e+11,8.753940e+11
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.323390e+11,1.359670e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067830e+11

In [11]:
## Import Country metadata
meta = pd.read_csv('data/metadata.csv')
meta.head()

,Code,UNRegion,IncomeGroup,Region,Continent
0,ABW,Latin America & Caribbean,High income,NaN,NaN
1,AFE,NaN,NaN,NaN,NaN
2,AFG,South Asia,Low income,NaN,NaN
3,AFW,NaN,NaN,NaN,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,Central Africa,Africa

### Aggregating the Relevant Data

In [15]:
## Create a base dataframe filtered to African countries only
data = meta[meta['Continent'] == 'Africa']
data = data.drop(['UNRegion','Continent'], axis=1)
print(data.shape)
data.head()

(54, 3)

   Code          IncomeGroup           Region
4   AGO  Lower middle income   Central Africa
16  BDI           Low income   Eastern Africa
18  BEN  Lower middle income      West Africa
19  BFA           Low income      West Africa
33  BWA  Upper middle income  Southern Africa

In [19]:
## Filter to the relevant GDP/Population data (Past ten years)
start, end = 2013, 2022
year_cols = list()
for i in range(start,end+1):
    year_cols.append(i)
print(year_cols)

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]